*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors */
/* red #FF0000
green #008000
yellow #FFFF00 */

html{
    overflow-y: hidden;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
}

.d-flex{
    display: flex;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

#menu{
position: fixed;
right: 20px;
top: 60px;
}

ul{
    list-style-type: none;
    height: 50px;
}

ul li{
    margin: 30px;
}

a{
    text-decoration: none;
    display: inline-block;
    color: black;
    background-color: #fff;
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    box-shadow: 2px 2px 5px darkgray;
}

.bg-page{
    height: 100vh;
    align-items: center;
}

#page-one{
    background-color: #FF0000;
}

#page-two{
    background-color: #008000;
}

#page-three{
    background-color: #FFFF00;
}

.shoes{
    text-align: center;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 60px;
}

.yellow{
    color: #FFFF00
}

.green{
    color: #008000;
}
